<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Clientes</h1>
    <button class="btn btn-sm btn-success shadow-sm" ng-click="mostrarClienteModal({})"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Agregar</button>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="table-responsive">
            <div class="card">
                
                <div class="card-body">
                    
                    <div class="d-flex justify-content-end">
                        <div>   
                            <div class="input-group input-group-sm mb-2">
                                <input type="text" class="bg-light border-0 small" placeholder="Buscar"
                                aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Teléfono 1</th>
                                <th>Teléfono 2</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientes.datos">
                                <td>{{ cliente.id}} </td>
                                <td>{{ cliente.nombre}} </td>
                                <td>{{ cliente.correo}} </td>
                                <td>{{ cliente.telefono1}} </td>
                                <td>{{ cliente.telefono2}} </td>
                                <td> 
                                    <button class="btn btn-sm btn-info" ng-click="mostrarClienteModal(cliente)">
                                        <i class="fa fa-edit  fa-sm"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                          <li class="page-item">
                            <a class="page-link" ng-click="irAPagina(1)" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>

                          <li class="page-item" ng-repeat="pagina in clientes.paginas" 
                            ng-class="{ 'active' : clientes.pag_actual === pagina }">
                              <a class="page-link" ng-click="irAPagina(pagina)">{{ pagina }}</a>
                            </li>

                          <li class="page-item">
                            <a class="page-link" ng-click="irAPagina(clientes.total_paginas)" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>    

    </div>
</div>

<div ng-include="'pages/clientes/clienteModal.html'"></div>