<div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" >

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-row">
    

                        <div class="col-md-12 mb-3">
                            <label for="correo">Correo</label>
                            <input type="mail" ng-model="correo" class="form-control is-valid" id="correo" name="correo" placeholder="Ingresa el correo" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                            
                          <div class="col-md-12 mb-3">
                            <label for="direccion">Dirección</label>
                            <input type="text" ng-model="direccion" class="form-control is-valid" id="direccion" name="direccion" placeholder="Ingresa la dirección" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                            
                          <div class="col-md-12 mb-3">
                            <label for="id">Id</label>
                            <input type="text" ng-model="id" class="form-control is-valid" id="id" name="id" readonly>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                            
                          <div class="col-md-12 mb-3">
                            <label for="nombre">Nombre</label>
                            <input type="text" ng-model="nombre" class="form-control is-valid" id="nombre" name="nombre" placeholder="Ingresa el nombre" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                            
                          <div class="col-md-12 mb-3">
                            <label for="pais">Pais</label>
                            <input type="text" ng-model="pais" class="form-control is-valid" id="pais" name="pais" placeholder="Ingresa el pais" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                            
                          <div class="col-md-12 mb-3">
                            <label for="telefono1">Telefono 1</label>
                            <input type="text" ng-model="teléfono1" class="form-control is-valid" id="telefono1" name="telefono1" placeholder="Ingresa el teléfono 1" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                            
                          <div class="col-md-12 mb-3">
                            <label for="telefono2">Teléfono 2</label>
                            <input type="text" ng-model="telefono2" class="form-control is-valid" id="telefono2" name="telefono2" placeholder="Ingresa el teléfono 2" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                            
                          <div class="col-md-12 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" ng-model="zip" class="form-control is-valid" id="zip" name="zip" placeholder="Ingresa el zip" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
    



                     
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="login.html">Aceptar</a>
                </div>
            </form>
        </div>
    </div>
</div>
